.background-image{
    height: 100%;
    background-image: url(https://image.shutterstock.com/image-photo/close-hand-over-wireless-game-260nw-754850056.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-size: auto; */
}

.overlay {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.171); */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.jumbotron {
    position: relative;
    background-color: rgba(0, 0, 0, 0.123);
    height: 750px;
    width: 100%;
}

.caption {
    position: absolute;
    top: 35%;
    width: 100%;
}

.btn {
    margin: 0px 15px;
}

.footer p {
    padding: 15px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.caption p, h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 24px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.caption h1 {
    font-size: 72px;
    margin-bottom: 25px;
}

.nav-link {
    color: black;
}

.btn-outline-success {
    float: right;
}

.card-header h3 {
    padding: 10px;
    margin-bottom: 0px;
}

.btn-outline-info {
    float: right;
}

.btn-outline-danger {
    float: right;
}